/* html {
  overflow-y: scroll; //Always show the vertical scrollbar
}

body {
   overflow-x: hidden; //Prevent horizontal scrolling 
     //I added this because whenever a vertical scroll bar appears, 
  //it makes a horizontal scroll bar appear as well to make
  //up for the horizontal space lost by the vertical scroll bar.
}   */

@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #4d7051;
  text-decoration: inherit;
}
a:hover {
  color: #3b5a40;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  /* border: 1px solid transparent; */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */ /*? TO DISCUSS: this color is overriding the bg color I'm applying to the buttons and I see it defines a kind of black bg color to all buttons globally (this might not be a problem with stylesheets as it may override them but causes a problem in tailwnd) so how about removing it?) */
  cursor: pointer;
}
button:hover {
  /* border-color: #646cff; */
  transition: border-color 0.25s;
}
button:focus {
  outline: none; /* Remove default focus outline */
}

button:focus-visible {
  outline: 2px solid #7ec987; /* Apply green outline for keyboard focus */
  border-radius: 8px; /* Optional: Smooth the focus effect */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */ /*? TO DISCUSS: this color is overriding the bg color I'm applying to the buttons and I see it defines a kind of a light bg color to buttons globally (this might not be a problem with stylesheets as it may override them but causes a problem in tailwnd) so how about removing it? */
}

/*~ TAILWIND UTILITIES ~*/

/* Utility to hide a Scrollbar (used as "no-scrollbar" in tailwind) */

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Variable Theme Colors */

@theme {
  /* Error Colors */
  --color-error-background: #f8d7da;
  --color-error-font: #721c24;

  /* Green Colors */
  --color-light-green: #e9f5eb;
  --color-primary-green: #7ec987;
  --color-dark-green: #4d7051;

  /* Text Colors */
  --color-primary-text: #1f2937;
  --color-secondary-text: #4b5563;
  --color-tertiary-text: #6b7280;
  --color-quaternary-text: #757280;

  /* Background Colors */
  --color-gray-background: #f3f4f6;
  --color-page-background: #f9fafb;

  /* Button Hover */
  --color-primary-hover: #7eb687;
  --color-secondary-hover: #4d7051;
}
